In [2]:
import json
 
# Opening JSON file
with open('assignment.json') as json_file:
    data = json.load(json_file)
 
    # Print the type of data variable
    print("Type:", type(data))

Type: <class 'dict'>

In [80]:
df=pd.DataFrame(data['products']).T

In [81]:
df=df.reset_index()

In [82]:
df.rename(columns = {'index':'ID'}, inplace = True)

In [83]:
df.head()

     ID subcategory                       title  price popularity
0  6834      mobile       Micromax Canvas Spark   4999      51936
1  5530      mobile    Samsung Galaxy Grand Max  12950      48876
2  4340      mobile              Apple iPhone 6  40999      46198
3  4804      mobile  Samsung Galaxy Grand Prime   9286      45775
4  5266      mobile  Micromax Canvas Nitro A311   7769      44273

In [84]:
df.isna().sum()

ID             0
subcategory    0
title          0
price          0
popularity     0
dtype: int64

In [85]:
def convert_to_int(col):
  arr=[]
  for x in col:
    arr.append(int(x))
  print(arr)
  return pd.Series(arr)
df['price']=convert_to_int(df['price'])
df=df.sort_values("price",ascending=False)
df.head(100)

[4999, 12950, 40999, 9286, 7769, 15763, 5907, 7499, 14999, 12368, 6874, 11466, 7085, 33999, 7416, 17849, 8999, 17723, 37999, 8652, 14920, 5078, 5383, 22091, 22499, 13599, 14999, 4499, 25099, 11099, 13548, 4419, 4292, 20294, 8999, 8902, 51499, 9179, 12499, 11931, 8916, 6659, 10999, 5354, 38899, 19999, 5058, 11047, 17212, 7904, 10069, 7649, 14423, 5250, 11478, 20100, 45500, 9299, 6990, 3893, 5343, 18137, 8969, 4242, 12999, 5796, 51999, 11999, 7947, 23319, 12664, 4099, 4999, 9999, 6197, 6999, 4499, 21250, 5014, 34415, 5245, 21847, 19304, 5363, 9774, 5759, 9817, 13023, 6999, 8999, 19121, 7513, 3654, 1280, 837, 17000, 4162, 40399, 5399, 11499, 6800, 20397, 5541, 29899, 4674, 6197, 2634, 6374, 21998, 8499, 6999, 4671, 6289, 6197, 10029, 5602, 15640, 24999, 5490, 5499, 8620, 18499, 61449, 18943, 13506, 6103, 15215, 6299, 5046, 6507, 4225, 7499, 10761, 1485, 7884, 3144, 8555, 7624, 13501, 4499, 8244, 9349, 52000, 2210, 19999, 2422, 21090, 9799, 2999, 4460, 8499, 4620, 19844, 15995, 9217, 14674, 16857, 23352, 3240, 5609, 4544, 11729, 8292, 5800, 46199, 9774, 634, 11999, 11799, 7598, 13037, 54700, 6922, 8925, 18999, 12499, 9990, 18790, 1749, 11042, 6400, 1365, 7522, 6493, 6714, 944, 5799, 3934, 1760, 29000, 3999, 7384, 6499, 2882, 4499, 7555, 19344, 12749, 5649, 5468, 4699, 5397, 6052, 34999, 8999, 20050, 4522, 41999, 4620, 5864, 6459, 4044, 4590, 4499, 4484, 27999, 6184, 6880, 10349, 29980, 31999, 12179, 8624, 5674, 14444, 47460, 7550, 7479, 54699, 11600, 14999, 31650, 5211, 3051, 15990, 636, 20600, 8597, 14431, 29990, 21999, 6235, 28500, 11499, 3523, 2999, 15554, 5069, 2719, 4999, 14990, 7500, 9161, 6649, 42999, 3999, 42999, 1539, 3960, 13077, 3169, 9999, 7490, 3439, 2538, 8799, 5699, 4327, 8599, 3982, 6949, 3472, 10659, 17743, 12399, 7569, 11818, 12300, 4864, 34999, 5799, 1999, 4759, 28152, 9299, 4589, 4000, 5415, 20069, 6290, 11249, 4849, 3825, 8510, 33923, 6099, 2549, 6079, 5049, 33198, 23990, 4299, 5065, 1804, 21150, 6609, 12000, 26999, 4963, 11700, 5798, 13600, 4690, 5666, 6999, 27990, 10960, 16999, 30999, 1030, 4990, 6303, 4019, 7499, 9990, 13850, 9996, 2489, 7888, 8839, 6197, 36499, 11799, 24899, 2136, 5939, 809, 6499, 4844, 4462, 15983, 2163, 17957, 12749, 5857, 21199, 5999, 6500, 4247, 10880, 2399, 10069, 6796, 10242, 3465, 20069, 29416, 11098, 13999, 3153, 8490, 6787, 22999, 8049, 8500, 22999, 11649, 3799, 5200, 7999, 25640, 8795, 7429, 5999, 3655, 5499, 6374, 4039, 2124, 7700, 7499, 21900, 9999, 2252, 13549, 4573, 10069, 7804, 1743, 6499, 6199, 6795, 4531, 10031, 18998, 11699, 4350, 5354, 4123, 5120, 15850, 31000, 3025, 6749, 3499, 6459, 6499, 8067, 15899, 18199, 9999, 991, 30284, 4700, 2438, 14990, 1999, 7990, 3799, 1249, 12820, 3060, 3458, 33580, 9799, 5200, 15790, 18061, 5825, 4499, 6779, 1818, 5269, 3633, 12190, 10999, 20621, 872, 7793, 10890, 9500, 18000, 36500, 7990, 3999, 35999, 7280, 8499, 1449, 7999, 26500, 3306, 24143, 6939, 3880, 6889, 736, 6100, 10000, 8399, 8303, 9499, 13399, 4249, 11714, 7748, 3103, 12999, 5344, 5949, 12000, 9012, 20088, 7123, 2799, 4675, 4960, 4499, 47500, 9949, 7071, 23990, 8880, 6689, 3290, 8099, 32774, 3399, 15229, 5449, 2423, 3599, 17490, 11999, 2974, 693, 3199, 7642, 7549, 5139, 4400, 7999, 5044, 5499, 6359, 7990, 59500, 5525, 9249, 13069, 18599, 65000, 10999, 12780, 4900, 5355, 9948, 8773, 1999, 5354, 2974, 4999, 4450, 4000, 8999, 3399, 8999, 2746, 25176, 8550, 17299, 5490, 6471, 4999, 8250, 16999, 7890, 14979, 1500, 26499, 6544, 18990, 7000, 7490, 8299, 1010, 7299, 14562, 3499, 2440, 2244, 6069, 26303, 9499, 14550, 13999, 5555, 23685, 8407, 5570, 8999, 5294, 14795, 6869, 4929, 1065, 1912, 25799, 8188, 25450, 8273, 3332, 1250, 2517, 1650, 3909, 2239, 6299, 1350, 2869, 7275, 37150, 16360, 3758, 6792, 5655, 1699, 8499, 15699, 1572, 7649, 17007, 3795, 830, 10988, 7000, 7949, 41999, 36850, 4922, 24900, 7350, 5524, 5599, 12000, 6204, 3017, 8499, 35076, 3986, 1449, 39500, 5070, 10150, 4999, 999, 5049, 11644, 3699, 3569, 11999, 8000, 6190, 7549, 6999, 7270, 9999, 7786, 3442, 6200, 3909, 3047, 3272, 3116, 6824, 4744, 3059, 1956, 6780, 34999, 10999, 3477, 3299, 2202, 7499, 6188, 835, 21990, 7999, 5290, 35397, 2999, 9599, 37500, 4250, 1479, 6700, 6792, 4290, 5199, 3020, 4999, 22799, 3314, 3999, 9999, 3817, 12306, 1665, 4576, 11999, 10500, 3229, 897, 4999, 5985, 1670, 4999, 5810, 2039, 1069, 11541, 2967, 2987, 10467, 36999, 1159, 2753, 1100, 3721, 2366, 2249, 5999, 15091, 2465, 5400, 3200, 5092, 5049, 5699, 25499, 8590, 14000, 5249, 2999, 22150, 2222, 1199, 4336, 1913, 1995, 4999, 6490, 3500, 7699, 24400, 1329, 12702, 5039, 15849, 1349, 13854, 10999, 5000, 1129, 5950, 2082, 5199, 5699, 18999, 10790, 3229, 498, 9490, 1199, 3829, 9999, 4206, 2599, 9390, 4277, 3671, 2679, 8779, 3855, 6083, 15000, 19999, 5999, 3484, 3899, 5199, 1049, 15170, 8998, 3999, 4248, 1599, 7499, 3902, 5799, 4949, 3719, 7999, 2399, 725, 19999, 4970, 10485, 2599, 4407, 4185, 11700, 8074, 6325, 8990, 6930, 8490, 4999, 5800, 9208, 5524, 750, 3490, 12915, 27999, 5999, 9999, 4999, 4600, 590, 8999, 8786, 8943, 3699, 4165, 8999, 6630, 4327, 2670, 39999, 7599, 6267, 10651, 1275, 12874, 2999, 18150, 1150, 9290, 3549, 6999, 1311, 3226, 9168, 1335, 49890, 8080, 1048, 3532, 4999, 5899, 5980, 1440, 10999, 2695, 21829, 4933, 5000, 2999, 21399, 6349, 6998, 6800, 655, 3429, 4589, 3485, 3960, 5849, 3999, 17969, 15999, 29130, 4249, 6900, 27990, 3824, 4999, 10299, 6800, 8680, 2422, 2746, 8100, 9999, 9890, 4199, 13499, 9065, 28582, 5490, 12045, 15889, 13999, 4790, 4662, 3999, 21690, 4299, 5999, 5990, 11629, 6599, 3907, 8620, 4899, 11000, 3824, 1000, 8999, 2124, 8200, 1359, 8499, 5290, 18907, 5499, 2392, 1869, 6499, 2599, 4299, 17999, 4120, 9900, 8399, 12732, 25463, 25184, 4999, 24400, 14000, 1499, 7400, 2599, 33499, 3599, 9649, 2274, 4099, 81399, 7799, 4999, 4106, 990, 4299, 3750, 32150, 15460, 4500, 9800, 2549, 4099, 800, 4049, 7320, 2586, 9024, 12999, 7500, 1400, 14399, 1099, 5719, 2300, 5010, 6238, 8999, 8990, 5888, 3569, 9450, 11644, 4949, 1429, 6300, 6990, 1754, 17100, 1969, 3649, 47369, 1748, 3311, 4535, 9898, 4650, 3200, 5157, 4992, 6037, 4089, 6399, 3440, 5160, 3790, 2818, 16500, 8000, 2299, 5356, 9399, 2525, 9275, 8999, 1680, 6999, 8499, 3824, 790, 640, 3399, 1784, 4949, 16350, 1648, 13686, 5796, 4022, 16032, 11972, 4992, 3144, 8990, 13999, 2849, 3999, 2499, 3528]

       ID subcategory                      title  price popularity
911  4719      tablet    Microsoft Surface Pro 3  81399        278
511  6102      mobile  BlackBerry  Porsche P9982  65000        741
122  4881      mobile   Apple iPhone 6 Plus 64GB  61449       5181
506  2283      mobile        Apple iPhone 5 64GB  59500        748
171  4885      mobile  Apple iPhone 6 Plus 128GB  54700       3649
..    ...         ...                        ...    ...        ...
381  3341      mobile              Intex Aqua i7  21900       1174
81   4056      mobile     Apple iPhone 5C (8 GB)  21847       7730
826  2079      mobile            Sony Xperia Ion  21829        321
868  6112      mobile          Vivo  X Shot X710  21690        300
830  4492      mobile           Huawei Ascend P7  21399        321

[100 rows x 5 columns]